@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&family=Manrope:wght@400;800&family=Nothing+You+Could+Do&family=Open+Sans:wght@600&display=swap');

:root{
    background-color: hsl(12, 16%, 31%);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    /*font-family: 'Libre Caslon Text', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Open Sans', sans-serif;
*/}

#dataProtection {
    margin-top: 8%;
}

h1{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 62.4px */
}

h2{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 62.4px */
}

button{
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: hsl(9, 17%, 24%);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background: hsl(9, 17%, 25%)
}

.breadcrumb-navigation {
    padding: 2%;
    margin-left: 0%;
    text-align: left;
}

.breadcrumb-navigation > li {
    display: inline;
}

.breadcrumb-navigation li + li:before {
    padding: 4px;
    content: ">";
}

.breadcrumb-navigation > li:first-child a {
    text-decoration: none;
}


.Welcome {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/cafe_pouring_milk.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.Welcome h2 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 55px;
    margin-bottom: 50px;
    margin-top: 150px;
}

.Welcome h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 48px;
    margin-bottom: 100px;
}

.header{
    width: 100%;
    height: 10%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #5B4742;
}

nav{
    font-family: 'Manrope', sans-serif;
    display: flex;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #5B4742;
    padding-top: 0.5%;
}

nav img{
    width: 70px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.nav-links ul li::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialsymbolsoutlined/v24/rAXkHiKDts8eRF3PZUOEoqptL6hqT2Pt1gO0ETMXfvo.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Symbols Outlined';
    display: none !important;
}

.About {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
}

.image-container {
    width: 50%;
    padding: 5%;
}

.text-container {
    width: 45%;
    padding: 5% 15%;
}


.Menu {
    display: flex;
    width: 100%;
    padding: 5% 35%;
    align-items: center;
    gap: 10%;
}

.menu-list {
    margin-left: 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.menu-item span {
    margin-left: 150px;
}

.menu-title {
    align-items: flex-start;
}

.Hours{
    padding: 5%;
    align-items: center;
}

.Hours h2{
    margin-bottom: 30px;
}

.hours-item {
    padding: 3px;
}

.hours-item span {
    margin-left: 20px;
}

.map-container {
    width: 100%;
    padding: 10%;
    z-index: 0;
}

.title-container {
    width: 20%;
    padding: 5% 15%;
}

.address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

#map { height: 300px; 
}

.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span
{
    color: black;
}

.Contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.Form {
    padding: 5%;
    display: inline-flex;
align-items: center;
gap: 77px;
}


.FormContainer {
    display: flex;
    width: 444px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 9px;
    flex-wrap: wrap;
    }

.contactFormTitle {
    padding: 5% ;
}

label {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
}


input[type="text"] {
    width: 330px;
    height: 59px;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    border-radius: 20px;
    background: #D9D9D9;
    flex-shrink: 0;
    border: none;
    margin-bottom: 15px;
}

#message{
    width: 330px;
    height: 156px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    background: #D9D9D9;
    resize: none;
    flex-shrink: 0;
    border: none;
    box-sizing: border-box;
}

input [type="text"],
textarea {
    display: flex;
    height: 360px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: hsl(9, 17%, 24%);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: hsl(9, 17%, 25%)
}

.Reservation {
    display: inline-flex;
    padding: 5% 30%;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.ReservationStarter h2 {
    padding: 2%;
}

.Reservation p {
    padding: 5%;
    margin-bottom: 10%;
}

.Reservation button {
    align-items: center;
}

.reservationTitle {
    text-align: center;
    padding: 5%;
}

.reservationFormContainer {
    width: 330px;
    margin: 0 auto; /* Zentriert das Formular horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.reservationFormContainer input[type="submit"] {
    position: relative;
    bottom: 0; /* Platziert den Button am unteren Rand */
    left: 50%; /* Platziert den Button horizontal in der Mitte */
    transform: translateX(-50%); /* Korrigiert die Position des Buttons horizontal */
}


.reservationFormContainer form {
    width: 330px;
    margin: 0 auto; /* Zentriert das Formular horizontal */
}

.reservationFormContainer label {
    display: flex;
    margin-bottom: 10px;
}

.reservationFormContainer input[type="text"],
.reservationFormContainer input[type="number"],
.reservationFormContainer input[type="date"],
.reservationFormContainer input[type="time"] {
    width: 330px;
    height: 59px;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    border-radius: 20px;
    background: #D9D9D9;
    border: none;
    margin-bottom: 15px;
    display: block;
}

img {
    max-width: 100%;
    height: auto;    /* Das Bild behält sein Seitenverhältnis bei */
    display: block;  /* Entfernt mögliche Lücken unter dem Bild */
    margin: 0 auto;  /* Zentriert das Bild innerhalb seines Containers */
}


footer{
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.footer-left img {
    max-width: 70px;
}

.footer-right a{
    text-decoration: none;
}

.firstparagraph {
    padding: 5%;
}

.secondparagraph {
    padding: 5%;
}

.thirdparagraph {
    padding: 5%;
}

@media (max-width: 770px) {
    .Welcome h1{
        font-size: 20px;
    }
    .Welcome h2{
        font-size: 20px;
    }

    h2{
        font-size: 20px;
    }

    
    .material-icons {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .About {
        flex-direction: column;
    }
    
    .text-container {
        order: 1;
        width: 80%;
    }
    
    .image-container {
        order: 2;
    }

    .Menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0
    }

    .menu-title{
        order: 1;
        width: 100%;
        align-items: center;
    }

    .menu-list{
        order: 2;
    }

    .menu-item span {
        margin-left: 40px;
        align-items: center;
    }


    .Reservation {
        flex-direction: column;
        width: 70%;
        padding: 0;
      }


    .Contact{
        flex-direction: column;
    }

    .title-container{
        order: 1;
        width: 100%;
    }
    
    .address-container{
        order: 2;
    }

    .map-container{
        padding: 3%;
    }

    .Form{
        flex-direction: column;
    }

    .contactFormTitle{
        order: 1;
        margin-right: 75%;
        padding: 0%;
        margin-bottom: -10%;
    }

    .FormContainer{
        order: 2;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-middle {
        order: 1; 
        text-align: center; 
    }

    .footer-socials,
    .footer-right {
        order: 2; 
        text-align: center;
    }

    .footer-socials p,
    .footer-right p {
        margin: 5px 0; 
    }

    .header {
        padding: 0;
    }

    nav {
        padding: 0;
        width: 100%;
    }

    nav img {
        width: 50px;
    }

    .nav-links {
        margin-left: auto;
    }

    .nav-links ul {
        margin-right: 0;
    }

    .nav-links ul li {
        padding: 8px 6px;
    }

    .nav-links ul a {
        font-size: 16px;
    }
}
